body {
  font-family: 'Saira', sans-serif;
  padding: 0px;
  margin: 0px;
  @import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;700&display=swap');
}

.login{
  width: 100%;
  height: 100vh;
  background-color: #6768F2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-login{
  padding: 80px 160px ;
  background: linear-gradient(260deg,
        #00FFC9 0%,
        #04C4E8 49%,
        #069EFC 95%);
  box-shadow: 10px 8px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 28px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card-login > h1{
  color: white;
}
